{% set pageTitle = 'CGP Documentation' %}
{% set tocTitle = 'Link: CGP Documentation' %}

{% extends "theme/template/base.html" %}


{% block content %}

= CGP Documentation

::[height:2em;]::

::[text-align:center;]
::[border:2px solid gray;]
<a href="https://imagecomputing.net/cgp/sheet/cgp_sheet.pdf">
img::https://imagecomputing.net/cgp/sheet/cgp_sheet.png[width:100%; max-width:800px;]
</a>
::
__Download [<a href="https://imagecomputing.net/cgp/sheet/cgp_sheet.pdf">pdf</a>]__
::





{% endblock %}